/**
 * Define color scheme and typography settings.
 */
:root {
    --primary-color: #871ACA;
    --secundary-color: #00FFFF;
    --terciary-color: #FFF;
}

@media only screen and (max-width: 768px) {
    .wrapper-content {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper-content {
        width: 85%;
        height: 100%;
    }
}