/**
 * Define color scheme and typography settings.
 */
 :root {
    --primary-color: #871ACA;
    --secundary-color: #00FFFF;
    --terciary-color: #FFF;
}

.wrapper-tasks {
    padding: 10px;
    background-color: #F2F3F1;
    border-radius: 0.4em;
    box-shadow: 5px 5px #e0b8b8;
    display: flex;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, auto);
}

.__nothing {grid-column: 1 / -1;
    text-align: center;
    height: 100%;
    width: 100%;
}